.arrow {
    transition: transform .4s;
    transform: rotate(180deg);
}

.answer-wrapper {
    grid-template-rows: 0fr;
    transition: grid-template-rows .4s, margin-top .4s;
}

.checkbox:checked~label > .arrow {
    transform: rotate(0deg);
}

.checkbox:checked~.answer-wrapper {
    grid-template-rows: 1fr;
    margin-top: 18px;
}