@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    src: url('assets/fonts/openSansCondensed/OpenSans-CondBold.ttf');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 400;
    src: url('assets/fonts/openSansCondensed/OpenSans-CondLight.ttf');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: italic;
    font-weight: 300;
    src: url('assets/fonts/openSansCondensed/OpenSans-CondLightItalic.ttf');
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 800;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-ExtraBold.ttf');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 800;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-ExtraBoldItalic.ttf ');
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-Bold.ttf');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-BoldItalic.ttf');
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 600;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-SemiBold.ttf');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 600;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 500;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-Medium.ttf');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 500;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-MediumItalic.ttf');
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 400;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/playfairDisplay/PlayfairDisplay-Italic.ttf');
}

@font-face {
    font-family: 'Novelist';
    src: url('assets/fonts/novelist/Novelist_free.otf');
}

@font-face {
    font-family: 'Mak';
    font-weight: 400;
    src: url('assets/fonts/mak/MAK.otf');
}
@font-face {
    font-family: 'Mak';
    font-weight: 700;
    src: url('assets/fonts/mak/MAK-bold.otf');
}




@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

/* disable chrome's blue background on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

* {
    font-family: "Open Sans", sans-serif;
    color: #383838
}

button {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}
